 body{
  /* background-color: #364564; */
  background-image: url('wooden-images.jpg');
  /* display: flex;
  align-items: center;
  color: #f1f7f8;
  justify-content: center;
  padding: 50px; */
  /* background-color: rgb(203, 203, 157); */
} 
  .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 /* background-color: rgb(203, 203, 157);  */
} 
.container-box{
  width: 600px;
  background-color: rgb(0, 0, 0, 0.3);
  height: 250px;
  border: 2px rgb(11, 18, 9);
  border-radius: 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.topic{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}
input:hover{
    border: solid black;
    background-color: rgb(96, 166, 145);
}
.remaining{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 15px;
}
input[type="text"] {
  width: 50%;
  padding: 8px;
  margin-top: 10px;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  font-weight: bold;
  
}

.result{
  color: aliceblue;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.refresh{
  margin-bottom: 5px;
}